Repository hongkongkiwi/fast-tts-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rust, tests, ci, config, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
# https://github.com/actions/labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'
      - 'LICENSE*'

rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*_test.rs'
      - '**/*_tests.rs'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - '.gitlab-ci.yml'
      - 'Justfile'
      - 'justfile'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.gitignore'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.lock'
      - 'Cargo.toml'

Add CodeRabbit AI code review workflow
  .github/workflows/coderabbit.yml
Labels: ci

Add release drafter for automated changelog generation
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: ci

Add comprehensive pre-commit configuration
  .pre-commit-config.yaml
  .secrets.baseline
Labels: config

Add markdownlint configuration
  .markdownlint.json
Labels: config

Align pre-commit config with CI workflows
  .pre-commit-config.yaml
Labels: config

feat(cli): add AudioEncoding enum, proxy-safe HTTP client for localhost, and new CLI flags
  src/main.rs
  tests/bulk.rs
  tests/cli.rs
  tests/http_integration.rs
Labels: rust, tests

feat(cli): add MCP server mode and optional multi-provider TTS
  Cargo.lock
  Cargo.toml
  src/main.rs
Labels: rust, config, dependencies

feat(gemini): add Gemini speech provider and update docs
  CLAUDE.md
  README.md
  src/main.rs
Labels: documentation, rust

feat(cli): add --play flag and provider feature-gating
  Cargo.toml
  src/main.rs
Labels: rust, config, dependencies
